.listcontainer {
    display: flex;
    border-right: solid 1px #C7C7C7;
    width: 30%;
    flex-direction: column;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
}

.scroll {
    overflow: auto; 
}