body,html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.main {
  display: flex;
  margin: 40px 30px 40px 30px;  
  width: 100%;
  height: calc(100vh - 80px);
  box-shadow: 1px 1px 4px;
}

.mapcontainer {
  display: flex;
  width: 100%;
  height: 100%;
}